
.ant-layout.ant-layout-has-sider .sider {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.ant-layout-sider-children {
    display: flex;
    flex-direction: column;
    padding-top: 30px;
    justify-content: space-between;
}

.sider {
    position: relative;
    height: 100vh;
}

svg {
    path{
        fill: rgb(6, 17, 120);
    }
}

.menu-bar {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    gap: 18px;
}


/* .ant-layout.ant-layout-has-sider {
    background: no-repeat center url(/alinavodo/src/components/MainPageLayouts/wrapper.jpg) ;
    background-size: cover;

} */


